---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: frontend
  namespace: prepare
spec:
  interval: 1m0s
  chart:
    spec:
      chart: ./charts/generic
      sourceRef:
        kind: GitRepository
        name: jf-helm
      interval: 1m0s
  values:
    fullnameOverride: frontend
    replicaCount: 2
    image:
      repository: joeyfreeland/prepare-fe
      pullPolicy: Always
      tag: 1.0.4
    imagePullSecrets:
      - name: dockerhub
    serviceAccount:
      create: true
    service:
      type: ClusterIP
      port: 80
    env:
      - name: NODE_ENV
        value: "production"
      - name: NEXTAUTH_URL
        value: "https://prepare.com"
      - name: NEXT_PUBLIC_API_URL
        value: "https://api.prepare.com"
      - name: REACT_APP_GOOGLE_API_KEY
        valueFrom:
          secretKeyRef:
            name: frontend-secrets
            key: REACT_APP_GOOGLE_API_KEY
      - name: REACT_APP_GOOGLE_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: frontend-secrets
            key: REACT_APP_GOOGLE_CLIENT_ID
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
    autoscaling:
      enabled: true
