---
# TODO: I started 404'ing when I migrated the backend to the more generic
# chart.  That shouldn't happen.  Need to look into
# cloudflare-tunnel-ingress-controller.
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: prepare
  namespace: prepare
spec:
  interval: 1m0s
  chart:
    spec:
      chart: ./charts/ingress
      sourceRef:
        kind: GitRepository
        name: jf-helm
      interval: 1m0s
  values:
    ingress:
      enabled: true
      className: "cloudflare-tunnel"
      annotations: {}
      hosts:
        - host: prepare.run
        - host: www.prepare.run
      paths:
        - path: /(.*)
          pathType: ImplementationSpecific
          backend:
            service:
              name: frontend
              port:
                number: 80
